@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.header-div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-div .kebab{
    display: none;
}
.header .header-div .kebab button{
    background-color: #000;
    border: none;
}
#kebeb-bar{
    margin-right: 10px;
    width: 30px;
    font-size: 20px;
}

/* Kebab Menu */
.header #menu{
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10%;
    background-color: #00000068;
    border-radius: 10px;
    padding: 10px 15px;
    animation-name: visible;
    animation-duration: 0.3s;
}
.header #menu div{
    font-weight: 600;
    border-radius: 5px;
    background-color: #fff;
    height: fit-content;
    width: 70px;
    text-align: center;
}
.header #menu div a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
}
@keyframes visible {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

/* Kebab close */

.header-div .left {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.header-div .right {
    padding: 10px;
}

.header-div .right ul {
    display: flex;
    justify-content: space-around;
}

.header-div .right ul li a {
    transition: 0.3s;
    text-decoration: none;
    color: #ffffffd1;
    padding: 20px;
}

.header-div .right ul li a:hover {
    color: #fff;
    transition: 0.3s;
}

#back-btn{
    z-index: -5;
    position: absolute;
    top: 24%;
    left: 2%;
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

#back-btn .back-btn{
    font-size: 370%;
    transition: 0.3s;   
}
#back-btn .back-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#back-btn .back-btn:active{
    transform: scale(0.97);
}
/* Item Manual */


::-webkit-scrollbar {
    display: none;
}

.items-container {
    position: fixed;
    height: 75%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px 80px;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    width: 65%;
    gap: 40px;
    overflow: scroll;
    border-radius: 5px;
    box-shadow: 1px 2px 16px 1px rgba(82, 85, 87, 0.61);
}

.items-container h1{
    display: flex;
    align-items: center;
    margin: auto auto;
    padding: 10px;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    background-color: rgba(0, 0, 0);
    color: #fff;
}
.items-container .item {
    border: 2px solid rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    font-weight: 500;
    height: 91.6%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 28%;
    max-width: 28%;
}

.items-container .item .image {
    padding: 5px;
    margin-left: 10px;
    height: 230px;
}

.items-container .item .image img {
    
    justify-self: center;
    width: 90%;
    height: 90%;
}

.items-container .item .details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.items-container .item .details .color #color1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    color: transparent;
    z-index: 1;
}

.items-container .item .details .color #color2 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: blue;
    color: transparent;
    z-index: 1;
}

.items-container .item .details .color #color3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: yellow;
    color: transparent;
    z-index: 1;
}

.items-container .item .details .title{
    width: 100%;
    height: 40px;
    font-weight: 700;
    overflow: hidden;
}
.items-container .item .details .price-size {
    display: flex;
    justify-content: space-between;
}

.items-container .item .add-cart button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    font-size: 16px;
}

.items-container .item .add-cart button:hover {
    cursor: pointer;
    background-color: #4b4949;
}

.items-container .item .add-cart button:active {
    transform: scale(.95);
    border-radius: 5px;
}

#h2-heading {
    width: fit-content;
    padding-bottom: 10px;
}

.container {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container .cart-details {
    position: fixed;
    top: 21%;
    right: 5%;
    width: 20%;
    height: 75%;
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.container .cart-details #count-badge{
    position: absolute;
    right: -5.5%;
    top: -3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #232525;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.container .cart-details .top {
    margin-bottom: 15px;
    height: 65%;
    overflow: scroll;
}

.container .cart-details .bottom .total {
    padding: 7px 0px;
    display: flex;
    justify-content: space-between;
}

.container .cart-details .bottom .btn {
    padding: 10px 0px;
}

.container .cart-details .bottom button {
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    transition: 0.3s;
    border: 1px solid #fff;
    cursor: pointer;
}

.container .cart-details .bottom button:hover{
    background-color: #fff;
    color: #000;
}
.container .cart-details .bottom button:active{
    transform: scale(0.96);
}
.total-items ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.total-items ol li .type{
    width: 55%;
    height: 40px;
    overflow: hidden;
}
.total-items ol li .price{
    align-self: center;
}
.total-items ol li {
    display: flex;
    justify-content: space-between;
}


/* Resoonsive Design */
@media only  screen and (max-width: 768px) and (min-width: 320px){
    .header-div{
        z-index: 100;
        padding: 0px;
    }
    .header-div .right{
        display: none;
    }
    .header .header-div .kebab{
        display: block;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    .items-container{
        position: relative;
        margin: 0px auto;
        gap: 20px;
        justify-content: center;
    }
    .container .cart-details{
        margin: 0px auto;
        margin-top: 40px;
        position: relative;
        right: 0;
        left: 0;
        width: 300px;
    }
    
  .items-container .item{
    min-width: 140px;
  }
  .items-container .item .image{
    height: 100px;
    width: 80%;
  }
  .items-container .item .details{
    font-size: 10px;
    gap: 2px;
  }
  .items-container .item .add-cart button{
    height: 20px;
    font-size: 12px;
  }
  #back-btn .back-btn{
    font-size: 250%;
  }
  #back-btn{
    z-index: 3;
    top: 25%;
    width: 35px;
    height: 35px;
  }
}